[Unit]
Description=Jack Listener Daemon
After=sysinit.target

[Service]
Type=simple
ExecStart=/usr/sbin/jacklistener-runscript

[Install]
WantedBy=multi-user.target
